<% layout('layout') -%>
<div class="row center">
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>悩み</h3>
			</div>
		</a>
	</div>
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>手伝い</h3>
			</div>
		</a>
	</div>
</div>
<div class="row center">
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>地元案内</h3>
			</div>
		</a>
	</div>
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>代行・つきそい</h3>
			</div>
		</a>
	</div>
</div>
<div class="row center">
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>おしゃれ・Shopping</h3>
			</div>
		</a>
	</div>
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>Buddiesスタッフおすすめ</h3>
			</div>
		</a>
	</div>
</div>