<% layout('layout') -%>
<div class="row center">
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>Some information</h3>
			</div>
		</a>
	</div>
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>Some information</h3>
			</div>
		</a>
	</div>
</div>
<div class="row center">
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>Some information</h3>
			</div>
		</a>
	</div>
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>Some information</h3>
			</div>
		</a>
	</div>
</div>
<div class="row center">
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>Some information</h3>
			</div>
		</a>
	</div>
	<div class="col s6">
		<a href="#">
			<div class="card-panel">
				<h3>Some information</h3>
			</div>
		</a>
	</div>
</div>