<!DOCTYPE html>
<html>
  <head>
    <title>Buddies</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    </style>
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Buddies</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">About</a></li>
          <li><a href="/services/new">Create Listing</a></li>
          <% if(!currentUser) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
          <% } else { %>
          <li><a href="/logout">Logout</a></li>
          <% } %>
          <li><a><i class="material-icons">language</i></a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
        <div class="card-panel min-padding">
          <div class="row center no-margin-bot">
            <div class="col s3">
              <a href="/">Home</a>
            </div>
            <div class="col s3">
              <a href="/recommended">Recommended</a>
            </div>
            <div class="col s3">
              <a href="/browse">Requests</a>
            </div>
            <div class="col s3">
              <a href="/browse">Support</a>
            </div>
          </div>
        </div>
        <% if(message.success || message.negative) { %>
          <div class="ui <%= message.success ? `success` : `negative` %> message center">
            <div class="header">
              <%= message.success ? message.success : message.negative %>
            </div>
          </div>
        <% } %>
        <%- body -%>
      </div>
    </main>
    <div class="footer">
      <div class="container center">
      © 2018 Ingroup Worldwide
      <a href="#!">Created by Anqi Hu, Johnny Sang, and Terence Mangram.</a>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
  <!--Begin mc_embed_signup scripts-->
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='NAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email'; /*
     * Translated default messages for the jQuery validation plugin.
     * Locale: JA (Japanese)
     */
    $.extend($.validator.messages, {
      required: "このフィールドは必須です。",
      remote: "このフィールドを修正してください。",
      email: "有効なEメールアドレスを入力してください。",
      url: "有効なURLを入力してください。",
      date: "有効な日付を入力してください。",
      dateISO: "有効な日付（ISO）を入力してください。",
      number: "有効な数字を入力してください。",
      digits: "数字のみを入力してください。",
      creditcard: "有効なクレジットカード番号を入力してください。",
      equalTo: "同じ値をもう一度入力してください。",
      accept: "有効な拡張子を含む値を入力してください。",
      maxlength: $.validator.format("{0} 文字以内で入力してください。"),
      minlength: $.validator.format("{0} 文字以上で入力してください。"),
      rangelength: $.validator.format("{0} 文字から {1} 文字までの値を入力してください。"),
      range: $.validator.format("{0} から {1} までの値を入力してください。"),
      max: $.validator.format("{0} 以下の値を入力してください。"),
      min: $.validator.format("{1} 以上の値を入力してください。")
    });}(jQuery));var $mcj = jQuery.noConflict(true);
  </script>
    <!--End mc_embed_signup-->
</html>
