body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}

main {
    flex: 1 0 auto;
  }

a {
  color: #ef6c00;
}

.nav-wrapper a {
	color: #ef6c00;
}

.color-accent {
	color: #ef6c00
}

.btn-accent {
	background-color: #ef6c00;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin-bot {
	margin-bottom: 0 !important;
}

.min-padding {
	padding: 10px 0 10px 0 !important;
}

.card-title {
	font-size: 16px !important;
}

.card-content {
	padding: 12px !important;
}

.host-img {
	max-height: 75px;
	margin-top: 45px;
}

.fixed-img {
	max-height: 183px !important;
}

.browse-more {
	margin-right: 20px;
}