body {
  font: 14px 'Source Sans Pro', "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}

main {
    flex: 1 0 auto;
  }

a {
  color: #ef6c00;
  transition: .5s;
}

p {
	font-size: 1.2rem;
}

tr:last-child {
	border: none;
}

.nav-wrapper a {
	color: #ef6c00;
}

.color-accent {
	color: #ef6c00
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin-bot {
	margin-bottom: 0 !important;
}

.hidden {
	display: none !important;
}

.min-padding {
	padding: 10px 0 10px 0 !important;
}

.logo {
	margin-top: 7px;
	margin-bottom: 3px !important;
	height: 50px;
	width: 50px
}
.brand-slogan {
	padding-left: 70px;
	cursor: default;
}

/* SIDENAV */
.sidenav li a, .sidenav li a i {
	font-size: 1.6rem !important;
	color: #ef6c00 !important;
}
.sidenav .user-view .email {
	font-size: 1.5rem !important;
}
/* END SIDENAV */

.card, .card-panel {
	border-radius: 5px;
}
.card-title {
	font-size: 19px !important;
	font-weight: 600 !important;	
}

.card-content {
	padding: 12px !important;
}
@media screen and (min-width: 993px) {
	.fixed-img {
		max-height: 170px !important;
	}
}

.browse-more {
	margin-right: 20px;
}

.host-img {
	max-height: 150px;
	margin-top: 45px;
}

.icon-adjacent-text {
	line-height: 1.8;
}

#categories-filter li {
	list-style-type: circle !important;
	list-style-position: inside;
	font-size: 1.2rem;
}

#service h1,
#service h2,
#service h3,
#service h4,
#service h5,
#service h6{
	font-weight: 600 !important;
}

.subheader {
	font-weight: 600 !important;
	font-size: 1.4rem !important;
}

/* CHECKOUT / CREDITCARD */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 3px 5px 0 #cfd7df;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 3px 5px 0 #b9c4ce;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
