<h4 class="center">Create a new listing</h4>
<div class="row">
  <form class="col s6 offset-s3" action="/services" method="POST">
    <div class="card-panel">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" name="title" class="validate">
          <label for="title">Service Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="image" type="text" name="image" class="validate">
          <label for="image">Promotional Image</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="price" type="number" name="price" class="validate" min="1" step="1">
          <label for="price">Price in Yen</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="description" type="text" name="description" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          Service type:
          <p>
            <label>
              <input class="with-gap" name="serviceType" type="radio" />
              <span>Request</span>
            </label>
            <label>
              <input class="with-gap" name="serviceType" type="radio" />
              <span>Support</span>
            </label>
          </p>
        </div>
        <div class="col s6">
          Category:
          <p>
            <label>
              <input class="with-gap" name="category" type="radio" />
              <span>Buddies</span>
            </label>
            <label>
              <input class="with-gap" name="category" type="radio" />
              <span>Life</span>
            </label>
            <label>
              <input class="with-gap" name="category" type="radio" />
              <span>Events</span>
            </label>
          </p>
        </div>
      </div>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button class="btn orange darken-4" type="submit">Submit</button>
    </form>
  </div>
</div>